@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bgGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes blink {
  0%, 100% { opacity: 1 }
  50% { opacity: 0 }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}
html {
  transition: background-color 0.3s, color 0.3s;
}

html.dark {
  background-color: #0f172a; /* dark background */
}

html.light {
  background-color: azure;
}